body {
    background-color: whitesmoke;
    color: rgb(160, 28, 28);
    
}

img {
    max-width: 200px;
    border-radius: 4%;
    
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-style: italic;
}

.pre, .dia, .cerimonia, .festa, .lua {
    flex-grow: 1;
    text-align: center;
    margin: 1%;

}

